.cart {
    display: flex;
    background-color: #f9f9f9;
    /* margin: 10px; */
    /* flex-direction: column; */
justify-content: space-between;
    margin: 10px 0px;
    margin-left:auto;
    margin-right:auto;
    width: 60vw;
    border-radius: 10px;
    transition: transform 300ms ease-in;
    border-width: 1px;
    border-style: solid;
    border-color: #777773;
    box-sizing: border-box;
    height: 160px;
    box-shadow: 0 5px 17px -7px rgba(0,0,0,.75);
}

.cart:hover{
    transform: scale(0.96);
}

.cart__left > img {
    height: 158px;
    border-radius: 8px;
}

.cart__option__modify {
    justify-content: space-between;
    margin-top: 20px;
}

.cart__left {
    margin-left: 0px;
}

.cart__center {
    /* padding: 60px; */
    margin: 60px 0px;
}

.cart__center > p {
    font-style: oblique;
    font-size: large;
    font-weight: bold;
}

.cart__right {
    margin: 70px;
}