.food {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    max-height: 500px;
    min-width: 100px; 
    /* background-color: rgb(163, 182, 219); */
    /* background: linear-gradient(lightgoldenrodyellow,dimgray); */
    margin: 20px;
    /* padding: 20px; */
    border-radius: 10px;
    transition: transform 300ms ease-in;
    border-width: 1px;
    border-style: solid;
    border-color: #777773;
    box-sizing: border-box;
    box-shadow: 0 5px 17px -7px rgba(0,0,0,.75);
}

.food:hover{
    transform: scale(1.06);
}

.food__top{
    display: contents;
}


.food__top > img {
/* max-height: 200px; */
width:100%;
object-fit: contain;
border-radius: 10px;
}

.food__bottom{
    display: flex;
    width:130px;
    justify-content: space-evenly;
    margin-top:5px;
    align-items: center;
    margin-bottom: 8px;
}


.food__bottom > button :hover {
    cursor: pointer;
}
.food__middle > h2 {
    font-style: oblique;
    font-weight: 400;
    font-weight: bold;
}

.food__middle > h3 {
    font-style: italic;

} 

.food__middle {
    margin-top: 8px;
    display: flex;
    width:370px;
    justify-content: space-between;
    

}

